{% block title %}Login{% endblock %}
{% block style %}
{% load static %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url('{% static "image/todo4.jpg" %}') no-repeat center center fixed;

            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #ffffff;
            padding: 20px 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            position: relative;
        }

        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        form .form-group {
            margin-bottom: 15px;
        }

        form .form-group label {
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        form .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        form button {
            background-color: #28a745;
            color: #ffffff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        form button:hover {
            background-color: #218838;
        }
    </style>
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
</body>
{% endblock%}

